@media(max-width: 1400px) {}

@media(max-width: 1200px) {
    .header__nav-content{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .main__end-news{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

@media(max-width: 992px) {
    .header__content{
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__content{
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;   
    }
}

@media(max-width: 768px) {
    .header__content-watch{
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__nav-links{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .main__content-products{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        min-width: 260px;
        width: 100%;
    }

    .earrings{
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .footer__content-other{
        margin-left: 0;
    }

    .footer__content-info{
        margin-left: 0;
        flex-wrap: wrap;
    }

    .main__end-new{
        max-width: 400px;
    }

    .main__end-img1{
        max-width: 400px;
    }

    .time{
        color: #323232;
    }


}


@media(max-width: 576px) {


}

@media(max-width: 480px) {}

@media(max-width: 375px) {}